
<div class="cont-start">
<div class="greet-cont">
  <span>I am</span>
  <div class="names">
    <h1>Dr.K.Becker-Lindhorst</h1>
    <h2 class="second-row">Frontend-Developer</h2>
</div>


  <a href="#contact"><button>Let`s talk</button></a>
</div>
<div class="foot-cont-start">
  <img class="blueline" src="assets/img/LINE 1.png" />
  <div class="icon-row">
    <img src="assets/img/Github button.png" />
    <img src="assets/img/Email button.png" />
    <img src="assets/img/Linkedin button.png" />
  </div>
</div>

<div class="scroll-info">
  <span>Scroll down</span>
  <img src="assets/img/Arrowup.png" />
</div>
</div>




