<div class="footer-cont">
  <div class="logo-cont">
    <a href="#start" class="logo-img"><img src="assets/img/logo.png" /></a>
    <span (click)="getImpressum()">Impressum</span>
  </div>
  <span class="copyright">&#169; Dr. Katja Becker-Lindhorst 2023</span>
  <div class="icon-row2">
    <a class="i1"href="https://github.com/kbl98" target="_blank"
      ><img src="assets/img/Github button.png"
    /></a>
    <a class="i2" href="#contact"><img  src="assets/img/Email button.png" /></a>
    <a class="i3" href="https://www.linkedin.com/" target="_blank"
      ><img  src="assets/img/Linkedin button.png"
    /></a>
  </div>
</div>
