<div class="footer-cont">
    <div class="logo-cont">
        <div class="logo-img" ><img src="assets/img/logo.png"></div>
        <span (click)="getImpressum()">Impressum</span>
    </div>
    <span class="copyright">&#169; Dr. Katja Becker-Lindhorst 2023</span>
    <div class="icon-row2">
        <a href="https://github.com/kbl98" target="_blank"><img id="i1" src="assets/img/Github button.png" /></a>
        <a href="#contact"><img id="i2" src="assets/img/Email button.png" /></a>
        <a href="https://www.linkedin.com/" target="_blank"><img id="i3" src="assets/img/Linkedin button.png" /></a>
    </div>
</div>
