.footer-cont{
    background-color: rgb(29,40,65);;
    position: sticky;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:260px;
    border-top: solid 1px #00BEE8;;
    padding-left: 100px;
    padding-right: 100px;
    span{
        color:white;
        font-size: 23px;;
    }
    z-index: 5;
}

.logo-cont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .logo-img{
        width:80px;
        height:60px;
        border-radius: 30%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border:solid 1px #1AE6B6;
    }
    img{
        z-index:10;
        width:140px;
        height:140px;
    }
    span{
        color:white;
        font-size: 16px;
        border-bottom: solid 1px transparent;
       &:hover{
        border-bottom: solid 1px #00BEE8;
        cursor: pointer;
       }
    }
}

.icon-row2{
    z-index: 4;
    display: flex;
    align-items: center;
    width:180px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        margin-right: 35px;
        width:35px;
        height:35px;
        transition: all 125ms ease-in-out;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
    
    }

    #i1{
        flex-grow: 0;
    }

    #i2{
        flex-grow: 1;
    }

    #i3{
        flex-grow: 2;
    }
}