<div class="about-cont">
  <div class="text-about">
    <h1>About me</h1>
    <p>
      Hello, I am a Frontend-Developer and Dentist based in Gröbenzell near
      Munich. After my Abitur I studied at the University LMU in Munich
      (Graduation in 2004). My favour for computers, coding and logical
      processes inspired me to join the Developer Akademie in Munich and become
      a Frontend-Developer.
    </p>
    <div class="special-info">
      <img src="assets/img/lamp.png" />
      <span
        >Creating apps is a extremly cool work: You start with an empty folder -
        and the result is a software, which can do EVERYTHING!!
      </span>
    </div>
    <div class="special-info">
      <img src="assets/img/puzzle desktop.png" />
      <span
        >Through medical background I have learned a lot about people and their
        wishes and also about the usability, that an medical software/ office
        software has to possess.
      </span>
    </div>
  </div>
  <div class="bg-self">
    <img src="assets/img/color-combi.png" />
    <img class="self-png" src="assets/img/katja.png" />
  </div>
</div>
