.cont-cont{
    margin-top:150px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
   padding-bottom:150px;
   position: relative;
   height:900px;
}

.headline{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    h1{
        font-size:90px;
        font-weight: 700;
        color:white;
        margin-right:20px;
    }
}

.form-cont{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.forminfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
   margin-right:100px;

    flex-direction: column;
    color:white;
    h2{
        font-size: 32px;
        margin-top: 0;
    }
    span{
        margin-left:100px;
    }
}

.h2-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 32px;
        margin-bottom: 0;
        margin-left:50px;
    }
}

