<div class="cont-cont">
    <div class="headline">
    <h1>Contact</h1>
    <img src="assets/img/LINE 4.png">
</div>
    <div class="form-cont">
        <div class="forminfo">
            <div class="h2-cont">
                <img src="assets/img/LINE 5.png">
            <h2>Got a problem to solve?</h2>
        </div>
            <span>Contact me through this form, i´m sure, I can contribute you and your work with my ideas and experience <br>
            You need a Frontend Developer? <b>Contact me!</b></span>
        </div>
        <div class="form" >
           
            <input type="name" [class.redborder]="nameWrong"   placeholder="Your name" oninvalid="nameWrong" >
            <span *ngIf="nameWrong">Your name-form is not correct</span>
            <input type="email" [class.redborder]="emailWrong" placeholder="Your Email" oninvalid="emailWrong" >
            <span *ngIf="emailWrong">Your name-form is not correct</span>
            <textarea placeholder="Your message" [class.redborder]="textWrong" oninvalid="textWrong" ></textarea>
            <span *ngIf="textWrong">Your name-form is not correct</span>
            <button type="submit" >Send message :)</button>
            <a href="#start"><div class="arrowup"></div></a>
        </div>
    </div>
</div>
