<div class="skill-cont">
  <div class="icons">
    <div class="icon-row">
      <div class="java">
        <img src="assets/img/Javascript.png" />
        <span>JavaScript</span>
      </div>

      <div class="java">
        <img src="assets/img/AngularIcon.png" />
        <span>Angular</span>
      </div>

      <div class="java">
        <img src="assets/img/TypeIcon.png" />
        <span>TypeScript</span>
      </div>

      <div class="java">
        <img src="assets/img/HTMLicon.png" />
        <span>HTML</span>
      </div>
    </div>
    <div class="icon-row">
      <div class="java">
        <img src="assets/img/Giticon.png" />
        <span>Git</span>
      </div>

      <div class="java">
        <img src="assets/img/FireIcon.png" />
        <span>Firebase</span>
      </div>
      <div class="java">
        <img src="assets/img/CSSicon.png" />
        <span>CSS</span>
      </div>
    </div>
    <div class="icon-row">
      <div class="java">
        <img src="assets/img/Scrunicon.png" />
        <span>Scrum</span>
      </div>

      <div class="java">
        <img src="assets/img/APIicon.png" />
        <span>API</span>
      </div>
    </div>
    <div class="icon-row">
      <div class="java">
        <img src="assets/img/MatIcon.png" />
        <span>Material Design</span>
      </div>
    </div>
  </div>
  <div class="skill-text">
    <div class="head-skill">
      <h1>Skills</h1>
      <img src="assets/img/LINE2.png" />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
      consequatur tempore similique autem error voluptatum sapiente explicabo
      mollitia ipsum accusantium iste rem officia omnis temporibus illo fuga
      deserunt, ab ducimus.
    </p>
    <a href="#contact"><button>Get in touch</button></a>
  </div>
</div>
