<div class="skill-cont">
    <div class="icons">
        <div class="icon-row">
        <div class="java">
        <img src="assets/img/Javascript.png">
        <span>JavaScript</span>
    </div>
        <img src="assets/img/Angular.png">
        <img src="assets/img/Ts.png">
        <img src="assets/img/html.png">
    </div>
    <div class="icon-row">
        <img src="assets/img/Git.png">
        <img src="assets/img/Firebase.png">
        <img src="assets/img/CSS.png">
    </div>
    <div class="icon-row">
        <img src="assets/img/Scrum.png">
        <img src="assets/img/Rest API.png">
    </div>
    <div class="icon-row">
        <img src="assets/img/Test A.png">
    </div>


   



 
    
 </div>
<div class="skill-text">
    <div class="head-skill">
        <h1>Skills</h1>
        <img src="assets/img/LINE2.png">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi consequatur tempore similique autem error voluptatum sapiente explicabo mollitia ipsum accusantium iste rem officia omnis temporibus illo fuga deserunt, ab ducimus.</p>
        <button>Get in touch</button>
   
</div>
</div>
