.impressum-cont{
    color:white;
    z-index:5;
    position:relative;
    padding-top:180px;
    padding-bottom:180px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    color:aqua;
}