.proj-cont{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:150px;
    img{
        width:620px;
        height:340px;
        margin-left:50px;
        margin-right:50px;
    }
}

.info-proj{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    width:513px;
    h1{
        font-size: 32px;
        color:#4B47FF;
        margin:0;
    }
    h2{
        font-size: 23px;
        color:#00BEE8;
    }
    span{
        font-size: 16px;
        color:white;

    }
    
}

.button-box{
    margin-top:80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .b1{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    
    width: 152px;
    height: 58px;
    
    font-size:23px;
    color:white;
    background: #4B47FF;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        background-color: #1AE6B6;
    }
        }
    .b2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        border:solid 1px #00BEE8;
        width: 152px;
        height: 58px;
        border-radius: 10px;
        margin-left:100px;
        background-color: transparent;
        color:white;
        font-size:23px;
        &:hover{
            cursor: pointer;
            background-color: #00BEE8;
        }
    }
}

.impair{
    flex-direction: row-reverse!important;
}

.flexstart{
    align-items:flex-end;
}


.p-cont{
    z-index: 6;
    width: 600px;
    height:600px;
    border: solid 1px #00BEE8;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:17px;
    transition: all 125ms ease-in-out;
    overflow: hidden;
    &:hover {
        img{
        transform:scale(3.5);}
        
    }
    img{
        width:100%;
        height:auto;
        object-fit: contain;
        transition: all 125ms ease-in-out;
    }
}

@keyframes slideOut{
    from{
        transform:scale(0)
    }
    to{
        transform: scale(1);
    }

}

.p-info{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.72);
    z-index:6;
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    animation: slideOut();
    transition: all 1500ms ease-in-out;
    transform: scale(1);
}

.info-project{
    background-color:white;
    width: 100%;
    height: 60%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left:50px;
    padding-right: 50px;
    h1{
        color:#4B47FF;
    }
    h2{
        font-weight: 400;
        color:#00BEE8;
        font-size: 23px;
    }
    span{
        font-size:23px;
    }

}